@font-face {
  font-family: 'MPLUS1';
  src: url('/fonts/MPLUS1-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Hack-Regular';
  src: url('/fonts/Hack-Regular.ttf')  format('truetype');
}
