<hr class="mt-12" />
<div class="flex flex-col p-4 pb-1">
  <div class="pb-12 text-center">
    <p class="text-2xl mt-0"></p>
  </div>
  <div class="flex justify-center gap-4">
    <!-- social links  -->
  </div>
  <p class="text-center stroke-text mb-0">
    Copyright © {{ now() | date(format="%Y") }}
    <a href="https://crustyengineer.com/" target="_blank"
      >The Crusty Engineer</a
    >
    <br />
    Built with
    <a target="_blank" rel="noopener noreferrer" href="https://www.getzola.org"
      >Zola</a
    >.
  </p>
</div>
