{% extends "base.html" %} {% block content %}
<h1>
  Nimpletree Estate - 3.4 Acres Property For Sale in Kalutara, Dodangoda, Sri
  Lanka
</h1>

<p>
  The Nimpletree property is an enclosed property of
  <code>550 perches</code> located in Kalutara, Dodangoda, Sri Lanka situated
  with its East-boundary being the Southern Highway within <code>100m</code> of
  the Dodangoda Highway Interchange junction.
</p>

<p class="text-xl">
  See full <a href="/land-for-sale-sri-lanka">property details & photos.</a>
</p>

<h2>Location</h2>

<div class="flex justify-cente">
  <img
    class="w-[400px] h-auto block"
    src="/images/nimpletree/google_maps_location.png"
  />
</div>

<!--
<h2>Recent Articles</h2>
{% set blog = get_section(path="blog/_index.md") %} {% set pages = blog.pages %}
{% if pages %}
<ul>
  {% for page in pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% else %} No article yet {% endif %}
-->

<br />
{% endblock content %}
